.git
.gitignore

target
**/target
dist
**/dist
node_modules
**/node_modules
playground/dist
playground/node_modules

*.log
**/*.log
**/.DS_Store

.claude
.opencode

editors
!editors/textmate/
!editors/textmate/syntaxes/
!editors/textmate/syntaxes/wire.tmLanguage.json
integration
documentation

